html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  color: rgba(255,255,255,0.87);
  display: flex;
  flex-direction: column;
}

/* Estilo del título principal */
#title {
  color: #a5e2f6;
}

/* Contenedor principal de la aplicación */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 4rem;
}

header{
  position: sticky;
  top: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(9, 9, 9);
  border-top: 2px solid #222;
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .footer .social-media a {
    margin: 0 0.5rem;
  }
}

section {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

a {
  font-family: monospace;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Enlaces de navegación */
.nav-hover {
  padding: 0.2rem;
  color: #a5e2f6;
  transition: 0.4s ease;
}
.nav-hover {
  padding: 0.2rem;
  color: #a5e2f6;
  transition: 0.4s ease;
  position: relative;
}
.nav-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #a5e2f6;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-hover:hover {
  color: white;
  text-shadow: 0 0 8px #a5e2f6;
  transform: scale(1.05);
}

/*div about-me section*/
.about-section {
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: center;
  flex-wrap: wrap;
  animation: fadeIn 1s ease-in-out;
}
/*animacion de entrada*/
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.about-section .profileimage img {
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.about-section .aboutme {
  max-width: 500px;
}

.about-section .aboutme h2,
.about-section .aboutme p {
  margin: 0;
  text-align: justify;
}

/* Responsive */
@media (max-width: 950px) {
  .about-section {
    flex-direction: column;
    gap: 2rem;
  }
  .about-section .aboutme {
    flex-direction: column;
    gap: 0.5rem;
    max-width: 70%;
  }
  .about-section .aboutme h2{
    text-align: center;
  }
}